1. Print the first 5 positive integers in ascending order with one number 
in each line

In [2]:
for i in range(5):
    print(i+1)

1
2
3
4
5

2. Print the following pattern
*
**
***
****
*****
There are no spaces between consecutive stars. There are no spaces 
at the end of each line.

In [5]:
for i in range(1,6):
    print("*"*i)

*
**
***
****
*****

In [7]:
for i in range(1,6):
    for j in range(i):
        print("*",end = "")
    print()

*
**
***
****
*****

3. Accept an integer as input and print its square as output.

In [9]:
n = int(input("Enter i: "))
print(n**2)

Enter i: 5
25

4.Accept two integers as input and print their sum as output.

In [10]:
a = int(input("a : "))
b = int(input("b: "))
print(a+b)

a : 4
b: 6
10

5. Accept two words as input and print the two words after adding a 
space between them

In [11]:
s = input("s: ")
t = input("t: ")
print(s+" "+t)

s: hi
t: hello
hi hello

In [12]:
print(input(), input())

hi
jeetu
hi jeetu

6. Accept the registration number of a vehicle as input and print its 
state-code as output.

In [13]:
reg = input("Enter registration number: ")
print(reg[0:2])

Enter registration number: OD01B2234
OD

7.Accept a five-digit number as input and print the sum of its digits as 
output.

In [2]:
n = int(input("Enter 5 dig num: "))
sum = 0
while(n>0):
    d = n%10
    sum += d
    n = n//10
print(sum)

Enter 5 dig num: 12345
15

In [4]:
n1 = input("n: ")
s = 0
for i in n1:
    s += int(i)
print(s)

n: 12345
15

In [8]:
n1 = input("n: ")
s = 0
for i in range(len(n1)):
    s += int(n1[i])
print(s)

n: 12345
15

8.Accept five words as input and print the sentence formed by these 
words after adding a space between consecutive words and a full stop 
at the end.

In [5]:
print(f"{input()} {input()} {input()} {input()} {input()}.")

h
a
p
p
y
h a p p y.

9.Accept the date in DD-MM-YYYY format as input and print the 
year as output.

In [13]:
date = input("Enter date: ")
print(f"{date[0:2]}-{date[2:4]}-{date[4:8]}")
print("year: date",date[4:])

Enter date: 12122022
12-12-2022
year: date 2022

10.Accept a sequence of five single digit numbers separated by commas 
as input. Print the product of all five numbers.

In [10]:
n = input().split(',')
m = 1
for i in n:
    m *= int(i)
print(m)

1,2,3,4,5
120

11. Accept two positive integers x and y as input. Print the number of 
digits in xy

In [17]:
x = int(input("x: "))
y = int(input("y: "))
#m = str(x**y)
print("No of dig:",len(str(x**y)))

x: 5
y: 2
No of dig: 2

12. Accept a string as input. If the input string is of odd length, then 
continue with it. If the input string is of even length, make the 
string of odd length as below:
• If the last character is a period (.), then remove it 
• If the last character is not a period, then add a period (.) to the 
end of the string
Call this string of odd length word. Select a substring made up of 
three consecutive characters from word such that there are an 
equal number of characters to the left and right of this substring. 
Print this substring as output. You can assume that all input 
strings will be in lower case and will have a length of at least four

In [4]:
s = input("s: ")
if len(s)%2 != 0:
    p = (len(s)-1)//2
    print(s[p-1:p+2])
else:
    if s[-1] == '.':
        s.replace('.','')
    else:
        #s = s+'.'
        s = ''.join((s,'.'))
    print(s)

s: Welcome
lco

In [11]:
s = input()
n = len(s)
if n%2 == 0:
    if s[n-1] == '.':
        s = s[:-1]
    else:
        s = s+'.'
n = int((len(s)-1)/2)
print(s[n-1:n+2])

welcome
lco

13. Accept three positive integers as input and check if they form the 
sides of a right triangle. Print YES if they form one, and NO is they do 
not. The input will have three lines, with one integer on each line. 
The output should be a single line containing one of these two 
strings: YES or NO.

In [14]:
a = int(input())
b = int(input())
c = int(input())

if (a*a+b*b==c*c) or (b*b+c*c==a*a) or (a*a+c*c==b*b):
    print("YES")
else:
    print("NO")

4
3
5
YES

14. EvenOdd is a tech startup. Each employee at the startup is given an employee id which is a unique 
positive integer. On one warm Sunday evening, five employees of the company come together for a 
meeting and sit at a circular table:
The employees follow a strange convention. They will continue the meeting only if the following 
condition is satisfied.
The sum of the employee-ids of every pair of adjacent employees at the table must be an even 
number.
They are so lazy that they won’t move around to satisfy the above condition, If the current seating 
plan doesn’t satisfy the condition, the meeting will be cancelled. You are given the employee-id of all 
five employees. Your task is to decide if the meeting happened or not.
The input will be five lined, each containing an integer. The ith line will have the employee-id of Ei. 
The output will be a single line containing one of these two strings: YES or NO

In [2]:
i = 0
l = []
while(i<5):
    n = int(input(f"Enter id of emp {i}: "))
    l.append(n)
    i+=1
for i in range(len(l)-1):
    if (l[i]+l[i+1]) % 2 != 0:
        print(l[i]+l[i+1])
        print("NO")
        break
print("YES")

Enter id of emp 0: 1
Enter id of emp 1: 3
Enter id of emp 2: 5
Enter id of emp 3: 7
Enter id of emp 4: 9
YES

15. Accept a string as input and print the vowels present in the string in 
alphabetical order. If the string doesn’t contain any vowels, then 
print the string none as output. Each vowel that appears in the input 
string – irrespective of its case should appear just once in lower case 
in the output

In [6]:
s = input().lower()
s1 = ''.join(sorted(s))
l = []
v = []
for i in s1:
    if i in ['a','e','i','o','u']:
        if i not in l:
            l.append(i)
    else:
        v.append(i)
print(l)
print(v)

Inueron
['e', 'i', 'o', 'u']
['n', 'n', 'r']

16.You are given the date of birth of two persons, not necessarily from 
the same family. Your task is to find the younger of the two. If both 
of them share the same date of birth, then the younger of the two is 
assumed to be that person whose name comes first in alphabetical 
order.
The input will have four lines. The first two lines correspond to the 
first person, while the last two lines correspond to the second 
person. For each person, the first line corresponds to the name and 
the second line corresponds to the date of birth in “DD-MM-YYYY” 
format. Your output should be the name of the younger of the two.

In [9]:
n1 = input("Enter n1: ")
d1 = input("Enter d1: ")
n2 = input("Enter n2: ")
d2 = input("Enter d2: ")

if d1 == d2:
    if n1<n2:
        print(n1)
    else:
        print(n2)
elif d1[-4:] != d2[-4:]:
    if int(d1[-4:]) < int(d2[-4:]):
        print(n2)
    else:
        print(n1)
elif d1[3:5]!=d2[3:5]:
    if (int(d1[3:5]))<(int(d2[3:5])):
        print(n2)
else:
    print(n1)

Enter n1: Ashis
Enter d1: 18-02-2000
Enter n2: Avipsa
Enter d2: 25-07-2005
Avipsa

17.Accept a string as input. Your task is to determine if the input string is a valid password or not. For a 
string to be a valid password, it must satisfy all the conditions given below:
(1) It should have at least 8 and at most 32 characters
(2) It should start with an uppercase or lowercase letter
(3) It should not have any of these characters: / \ = ' "
(4) It should not have spaces
It could have any character that is not mentioned in the list of characters to be avoided (points 3 and 
4). Output True if the string forms a valid password and False otherwise

In [13]:
p = input()
if (8 <= len(p) <= 32) and (p[0].isupper() == True or p[0].islower() == True) and ('/' not in p and '\\' not in p and '=' not in p and '\'' not in p and '\"' not in p and " " not in p):
    print("True")
else:
    print("False")

Ashiss/@123
False

18. Accept a positive integer n as input and print the first n positive 
integers, one number on each line.

In [19]:
n = int(input("Enter positive integer n: "))
if n > 0:
    for i in range(1,n+1):
            print(i)
else:
    print("Enter a positive integer!!")

Enter positive integer n: -5
Enter a positive integer!!

19.Accept a positive integer n as input, where n is greater than 1. 
Print PRIME ifnis a prime number and NOTPRIME otherwise.

In [24]:
import math
n = int(input("Enter a positive integer: "))
if n>1:
    for i in range(2,int(math.sqrt(n))+1):
        if n%i == 0:
            print("NONPRIME")
            break
        else:
            print("PRIME")
else:
    print("n must be greater than 1!!!")

Enter a positive integer: 1
n must be greater than 1!!!

20. Accept two strings as input and form a new string by removing all 
characters from the second string which are present in the first string. 
Print this new string as output. You can assume that all input strings 
will be in lower case.

In [26]:
a = input()
b = input()
for i in a:
    if i in b:
        b = b.replace(i,'')
print(b)

sam
ramu
ru

21.Accept a phone number as input. A valid phone number should satisfy 
the following constraints.
(1) The number should start with one of these digits: 6, 7, 8, 9
(2) The number should be exactly 10 digits long.
(3) No digit should appear more than 7 times in the number.
(4) No digit should appear more than 5 times in a row in the 
number.
If the fourth condition is not very clear, then consider this example: 
the number 9888888765 is invalid because the digit 8 appears more 
than 5 times in a row. Print the string valid if the phone number is 
valid. If not, print the string invalid.

In [1]:
def is_valid(n):
    a = False
    if (len(n) == 10) and int(n[0]>5) and n.isdigit():
        for i in range(10):
            if n.count(n[i])<8:
                a = True
                if n[i]*6 in n:
                    a = False
                    break
                else:
                    break
    if a:
        return "valid"
    else:
        return "invalid"
    
num = input()
print(is_valid(num))

988888865
invalid

22. In the first line of input, accept a sequence of space-separated words. In the second line of 
input, accept a single word. If this word is not present in the sequence, print NO. If this word 
is present in the sequence, then print YES and in the next line of the output, print the number 
of times the word appears in the sequence.

In [3]:
s = input().split(' ')
w = input()
if w in s:
    print("YES")
    print(s.count(w))
else:
    print("NO")

I love code i write code in ineuron
code
YES
2

23. Write a function named factorial that accepts an integer n as argument. It should return 
the factorial of n if n is a positive integer. It should return -1 if n is a negative integer, and it 
should return 1 if n is zero.

In [15]:
def factorial(n):
    if n<0:
        return -2
    elif n<2:
        return 1
    else:
        return n*factorial(n-1)
n = int(input())
factorial(n)

5

120

24. 
The range of a list of numbers is the difference between the maximum and minimum values in the list
Write a function named get_range that accepts a non-empty list of real numbers as argument. It 
should return the range of the list.
(1) Avoid using built-in function such as max and min.
(2) You do not have to accept input from the user or print output to the console. You just have to write 
the function definition.

In [6]:
def get_max(l):
    maxi = l[0]
    for i in l:
        if i>maxi:
            maxi = i
    return maxi
def get_min(l):
    mini = l[0]
    for i in l:
        if i<mini:
            mini = i
    return mini
def get_range(l):
    maxi = get_max(l)
    mini = get_min(l)
    return maxi-mini
l = [324,46,67,878,34,657,34]
get_range(l)

844

25. Write a function named read_file that accepts a text file named filename as argument. Within 
the function, read the file and print each line of the file on a separate line in the console. You shouldn't 
print any extra characters at the end of a line. There shouldn't be an empty line between any two 
consecutive lines.
(1) filename is a string variable that holds the name of the file. For example, in the first test case, it 
is filename = 'public_1.txt'.
(2) You do not have to accept input from the console. You have to write the function definition and 
print the contents of the file within the function

In [5]:
with open('public_1.txt','w') as f:
    f.write("""Hi this is class test and 
    I am practicing Python!!!""")

In [8]:
def read_file(file):
    with open(file,'r') as f:
        print(f.read())
read_file('public_1.txt')

Hi this is class test and
    I am practicing Python!!!

26. A simple algorithm has to be designed to find out whether a student 
belongs to the Data Science branch or not. The input will be a 
student's roll number, which is of the form BR18B0000. 
Here, BR represents the branch code, 18 represents the year of 
joining, B represents the education level and 0000 represents the 
specific identification given to the student of that batch. The branch 
code for Data Science is DS. Print True if the student belongs to 
Data Science branch and False otherwise.

In [9]:
def is_DS(r):
    if r[:2] == 'DS':
        return "True"
    else:
        return "False"

r = input()
is_DS(r)

BR18B0000

'False'

27.The police are trying to track a criminal based on the evidence 
available at a crime site. Their main clue is a vehicle's damaged 
number plate. Only the string TN07 is visible. The format of the 
registration number is AA00AA00, where the first two letters are 
alphabets, next two are numbers, next two are again alphabets 
followed by two numbers at the end. A number plate is picked from a 
database of registration numbers and is given to you as input. Your 
task is to determine if this could belong to the criminal or not. 
Print True if the number plate 
contains TN07 and False otherwise.

In [ ]:
def check_plate(n):
    if n[:4] == "TN07":
        return "True"
    return "False"

28. You are given a string and two non-negative integers as input. The 
two integers specify the start and end indices of a substring in the 
given string. Create a new string by replicating the substring a 
minimum number of times so that the resulting string is longer than 
the input string. The input parameters are the string, start index of 
the substring and the end index of substring (endpoints inclusive) 
each on a different line.

In [13]:
def substr(s,a,b):
    s1 = ""
    while len(s1)<len(s):
        s1 += s[a:b+1]
    s1 += s[a:b+1]
    return s1

s = input()
a = int(input())
b = int(input())
substr(s,a,b)

elephant
2
5

'ephaephaepha'

29. A class teacher has decided to split her entire class into four groups, namely Sapphire, Peridot, Ruby, 
and Emerald for sports competitions. For dividing the students into these four groups, she has 
followed the pattern given below:
Sapphire - 1, 5, 9, 13, 17, 21, ...
Peridot - 2, 6, 10, 14, 18, 22, ...
Ruby - 3, 7, 11, 15, 19, 23, ...
Emerald - 4, 8, 12, 16, 20, 24, ...
All the students are represented by their roll numbers. Based on the above pattern, given the roll 
number as input, print the group the student belongs to. Note that the roll number can be any 
positive integer and not necessarily less than 25.

In [19]:
def gen_team(n):
    sapphire = []
    peridot = []
    ruby = []
    emerald = []
    for i in range(1,n+1,4):
        sapphire.append(i)
        peridot.append(i+1)
        ruby.append(i+2)
        emerald.append(i+3)
    return f"Groups: sapphire:{sapphire} peridot:{peridot} ruby:{ruby} emerald:{emerald}"
n = 25
gen_team(n)

'Groups: sapphire:[1, 5, 9, 13, 17, 21, 25] peridot:[2, 6, 10, 14, 18, 22, 26] ruby:[3, 7, 11, 15, 19, 23, 27] emerald:[4, 8, 12, 16, 20, 24, 28]'

In [1]:
n = int(input())
for i in range(1,n+1,4):
    if n == i:
        print("sapphire")
for j in range(2,n+1,4):
    if n == j:
        print("peridot")
for k in range(3,n+1,4):
    if n == k:
        print("ruby")
for l in range(4,n+1,4):
    if n == k:
        print("emerald")

10
peridot

30. A data science company wants to hire data scientists from abc college. 
The company follows a certain criteria for selection: for a student to 
be selected, the number of backlogs should be at most 5 and the 
CGPA (Cumulative Grade Point Average) should be greater than 6. If 
the student does not fit the above criteria, then the student is not 
offered the job. If the student is selected, then the salary offered is 
equal to 5 times his/her CGPA (in lakhs).
Accept the number of backlogs (integer) and the CGPA (float) of the 
student as input. Your task is to determine if the student is selected or 
not. If the student is selected, then print the package. If not, then 
print the string Not Selected.

In [3]:
def is_selected(blog,cgpa):
    if blog>5 and cgpa>6:
        return "Not Selected!"
    else:
        return f"Selected!!!, Salary: {cgpa*50000}"

blog = int(input("blog: "))
cgpa = int(input("cgpa: "))
is_selected(blog,cgpa)

blog: 4
cgpa: 8

'Selected!!!, Salary: 400000'

31. Accept a string as input and print PALINDROME if it is a 
palindrome, and NOT PALINDROME otherwise

In [6]:
def is_pal(s):
    if s == s[::-1]:
        return "PALINDROME"
    return "NOT PALINDROME"
s = input()
is_pal(s)

malayalam

'PALINDROME'

32. In a portal login website, you are asked to write a function get_password_strength to decide 
the strength of a password. The strength is decided based on the total score of the password, Use 
following conditions:
1) If password has length greater than 7 then score increases by one point.
2) If password has at least one upper case and one lower case alphabets score increases by one point.
3) If password has at least one number and no consecutive numbers like 12 or 234 then score 
increases by one point.
4) If password has at least one special character (any character other than numbers and alphabets) then 
score increases by one point.
5) If password contains username, then it is invalid password.
If the password has score of four points, three points, two points, or one point then print Very 
Strong, Strong, Moderate, or Weak respectively. If the password is invalid, then 
print PASSWORD SHOULD NOT CONTAIN USERNAME and If the score is zero, then print Use a 
different password.The arguments to the function are username and password which are 
already defined

In [1]:
def get_password_strength(p,u):
    s = 0
    c = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'
    cf = False
    l = 'abcdefghijklmnop'
    lf = False
    n = '0123456789'
    nf = False
    ncf = True
    if u in p:
        return "PASSWORD SHOULD NOT CONTAIN USERNAME"
    if len(p)>7:
        s+=1
    for i in range(len(p)):
        if p[i] in c:
            cf = True
        elif p[i] in l:
            sf = True
        elif p[i] in n:
            nf = True
        if nf:
            if i!=(len(p)+1):
                if n[((n.index(p[i]))+1)]==p[i+1]:
                    ncf = False
    if cf and sf:
        s+=1
    if nf and ncf:
        s+=1
    if not p.isalnum():
        s+=1
    print()  
    if c==4:
        return "very strong"
    elif c==3:
        return "strong"
    elif c==2:
        return "moderate"
    elif c==1:
        return "week"
    elif c==0:
        return "use a different password"

p = input()
u = input()
get_password_strength(p,u)

HiHelloBye
safd

In [ ]:
33.Decorator that logs the date and time

In [7]:
from datetime import datetime

def log_datetime(func):
    
    def wrapper():
        print(f'function: {func.__name__} \nRun on  {datetime.today().strftime("%Y-%m-%d %H:%M:%S")}')
        print(f'{"-"*30}')
        func()
    return wrapper

@log_datetime
def daily_backup():
    print("Daily backup job has finished")

In [22]:
daily_backup()

function: daily_backup
Run on  2022-11-26 16:06:43
------------------------------
Daily backup job has finished

34.Program to Get Data Items From a List Appearing Odd Number of Times

In [9]:
x = [1,2,3,4,5,1,3,3,4]
l1 = []
for i in x:
    if x.count(i) % 2 != 0:
        if i not in l1:
            l1.append(i)
print(l1)

[2, 3, 5]

35.What are decorators in Python?

In [ ]:
Decorators are a very powerful and useful tool in Python since it allows programmers to modify the behaviour of a function or class.

In [20]:
#Q. Write string to convert into lower case and split

#decorator function lowercase
def lowercase_dec(function):
    def wrapper():
        func = function()
        string_lowercase = func.lower()
        return string_lowercase
    return wrapper

#decoraotr function to split words
def splitter_dec(function):
    def wrapper():
        func = function()
        string_split=func.split()
        return srtring_split
    return wrapper

In [21]:
@splitter_dec
@lowercase_dec
def hello():
    return 'hello world'

In [ ]:
hello()

36. remove items from a list while iterating but without creating a different copy of a list.
Remove numbers greater than 50
number_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
Expected Output: [10, 20, 30, 40, 50]

In [24]:
number_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
l = list(filter((lambda x:x>50),number_list))
# or - l = [i for i in l if i>50]
print(l)

[60, 70, 80, 90, 100]

37.  Display all duplicate items from a list
sample_list = [10, 20, 60, 30, 20, 40, 30, 60, 70, 80]
Expected Output: [20, 60, 30]

In [26]:
sample_list = [10, 20, 60, 30, 20, 40, 30, 60, 70, 80]
l = [i for i in sample_list if sample_list.count(i)>1]
print(list(set(l)))

[20, 60, 30]

In [28]:
import collections
s = [10, 20, 60, 30, 20, 40, 30, 60, 70, 80]
dup = []
for item,count in collections.Counter(sample_list).items():
    if count>1:
        dup.append(item)
print(dup)

[20, 60, 30]

38. Create an outer function that will accept two strings, x and y. (x= 'Emma' and y = 'Kelly'.
Create an inner function inside an outer function that will concatenate x and y.
At last, an outer function will join the word 'developer' to it.

In [ ]:
# def out_fun(x,y):
#     def in_fun():
#         return x+y
#     return in_fun

In [31]:
def manipulate(x,y):
    def inner_func(x,y):
        return x+y
    z = inner_func(x,y)
    return z + 'developer'

In [32]:
print(manipulate('abc','xyz'))

abcxyzdeveloper

39. Modify the element of a nested list inside the following list
Change the element 35 to 3500
list1 = [5, [10, 15, [20, 25, [30, 35], 40], 45], 50]

In [30]:
list1 = [5, [10, 15, [20, 25, [30, 35], 40], 45], 50]
list1[1][2][2][1] = 3500
list1

[5, [10, 15, [20, 25, [30, 3500], 40], 45], 50]

40.  Access the nested key increment from the following dictionary
Access 12
emp_dict = {
    "company": {
        "employee": {
            "name": "Jess",
            "payable": {
                "salary": 9000,
                "increment": 12
            }
        }
    }
}

In [33]:
emp_dict = {
    "company": {
        "employee": {
            "name": "Jess",
            "payable": {
                "salary": 9000,
                "increment": 12
            }
        }
    }
}

In [37]:
emp_dict['company']['employee']['payable']['increment']

12

41. Print the sum of the current number and the previous number
Write a program to iterate the first 10 numbers and in each iteration, print the sum of the current and previous number.
Printing current and previous number sum in a range(10)
Current Number 0 Previous Number  0  Sum:  0
Current Number 1 Previous Number  0  Sum:  1
Current Number 2 Previous Number  1  Sum:  3
Current Number 3 Previous Number  2  Sum:  5
Current Number 4 Previous Number  3  Sum:  7
Current Number 5 Previous Number  4  Sum:  9
Current Number 6 Previous Number  5  Sum:  11
Current Number 7 Previous Number  6  Sum:  13
Current Number 8 Previous Number  7  Sum:  15
Current Number 9 Previous Number  8  Sum:  17

In [6]:
for i in range(10):
    if i == 0:
        print(f"Current Number {i} Previous Number {i} Sum: {i}")
    else:
        print(f"Current Number {i} Previous Number {i-1} Sum: {i+(i-1)}")

Current Number 0 Previous Number 0 Sum: 0
Current Number 1 Previous Number 0 Sum: 1
Current Number 2 Previous Number 1 Sum: 3
Current Number 3 Previous Number 2 Sum: 5
Current Number 4 Previous Number 3 Sum: 7
Current Number 5 Previous Number 4 Sum: 9
Current Number 6 Previous Number 5 Sum: 11
Current Number 7 Previous Number 6 Sum: 13
Current Number 8 Previous Number 7 Sum: 15
Current Number 9 Previous Number 8 Sum: 17

42. Print characters from a string that are present at an even index number
Write a program to accept a string from the user and display characters that are present at an even index number.

For example, str = "ineuron" so you should display ‘i’, ‘e’, ‘r’, ‘n’.

In [8]:
s = input()
# l = []
for i in range(0,len(s),2):
    print(s[i],end=" ")
#     if i%2 == 0:
#         print(s[i],end=" ")
#         l.append(s[i])
#l

ineuron
i e r n

43. Print multiplication table form 1 to 10
1  2 3 4 5 6 7 8 9 10 		
2  4 6 8 10 12 14 16 18 20 		
3  6 9 12 15 18 21 24 27 30 		
4  8 12 16 20 24 28 32 36 40 		
5  10 15 20 25 30 35 40 45 50 		
6  12 18 24 30 36 42 48 54 60 		
7  14 21 28 35 42 49 56 63 70 		
8  16 24 32 40 48 56 64 72 80 		
9  18 27 36 45 54 63 72 81 90 		
10 20 30 40 50 60 70 80 90 100

In [15]:
def mulTable(n):
    for i in range(1,n+1):
        for j in range(1,11):
            print(f"{i*j}",end=" ")
        print()
mulTable(10)

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

44. Remove duplicates from a list and create a tuple and find the minimum and maximum number
sample_list = [87, 45, 41, 65, 94, 41, 99, 94]
Expected Outcome:
unique items [87, 45, 41, 65, 99]
tuple (87, 45, 41, 65, 99)
min: 41
max: 99

In [18]:
s = [87, 45, 41, 65, 94, 41, 99, 94]
unique_tuple = tuple(set(s))
print(f"{unique_tuple} \nmin:{min(unique_tuple)} \nmax:{max(unique_tuple)}")

(65, 99, 41, 45, 87, 94)
min:41
max:99

45. Write a Python program to create a lambda function that adds 15 to a given number passed in as an argument,
also create a lambda function
that multiplies argument x with argument y and print the result.

In [20]:
add = lambda x:x+15
mul = lambda x,y:x*y
print(f"add: {add(5)} mul: {mul(5,4)}")

add: 20 mul: 20

46. Write a Python program to sort a list of tuples using Lambda.

In [6]:
sortLst = lambda x:sorted(x)
l = [(3,'t'),(2,'r'),(4,'x')]
sortLst(l)

[(2, 'r'), (3, 't'), (4, 'x')]

47. Write a Python program to extract year, month, date and time using Lambda.

In [9]:
import datetime
day = datetime.datetime.now()
year = lambda y:y.year
month = lambda m:m.month
date = lambda d:d.day
time = lambda t:t.time()
print(year(day)," ",month(day)," ",date(day)," ",date(day)," ",time(day))

2022   11   26   26   08:04:57.732869

48. Write a Python program to count the even, odd numbers in a given array of integers using Lambda.

In [5]:
def oddEven(l):
    even = len(list(filter(lambda x:x%2 == 0, l)))
    odd = len(list(filter(lambda x:x%2 !=0, l)))
    return f"even: {even} and odd: {odd}"
l = [24,54,656,76,87,45,76,34,23,56,867,34,567]
oddEven(l)

'even: 8 and odd: 5'

49. Write a Python program to convert all the characters in uppercase and lowercase and eliminate duplicate letters from a given sequence.
Use map() function.

In [26]:
def change_cases(s):
  return str(s).upper(), str(s).lower()
 
chrars = {'a', 'b', 'E', 'f', 'a', 'i', 'o', 'U', 'a'}
print("Original Characters:\n",chrars)
 
result = map(change_cases, chrars)
print("\nAfter converting above characters in upper and lower cases\nand eliminating duplicate letters:")
print(set(result))

Original Characters:
 {'a', 'i', 'b', 'E', 'U', 'o', 'f'}

After converting above characters in upper and lower cases
and eliminating duplicate letters:
{('B', 'b'), ('U', 'u'), ('F', 'f'), ('O', 'o'), ('I', 'i'), ('A', 'a'), ('E', 'e')}

50.  Write a Python program to square the elements of a list using map() function.

In [25]:
def square(l):
    return list(map(lambda x:pow(x,2),l))
square([2,3,4,5,6])

[4, 9, 16, 25, 36]